@tailwind base;
@tailwind components;
@tailwind utilities;

/* 오늘 날짜 기본 배경색 제거 */
.fc-day-today {
  @apply bg-gs00 !important;
}

.fc-daygrid-day {
  @apply !border-[0.5px] !border-gs200 !bg-gs00;
  min-width: 30px;
  min-height: unset !important;
  max-width: 120px !important;
  position: relative !important;
}

.fc-daygrid-day.selected {
  @apply !outline !outline-2 !-outline-offset-2 !outline-slate500;
}

.fc-daygrid-day-top > a {
  padding-bottom: 1px !important;
}

.fc-day-other {
  @apply bg-gs20;
}

.fc-day-other .fc-event {
  opacity: 0.5 !important;
}

.fc-day-other.fc-day-today {
  @apply bg-gs20 !important;
}

.fc-daygrid-day-number {
  padding: 8px !important;
}
.fc-daygrid-day-top {
  flex-direction: row !important;
}

.fc-scrollgrid {
  width: 100%;
}

/* 이벤트 스타일 */
.fc-event {
  @apply mx-0 overflow-hidden text-ellipsis whitespace-nowrap px-[6px] py-[2px] text-12SB !important;
  border-radius: 2px;
  line-height: 0.75rem;
}

.fc-daygrid-day-events {
  padding: 8px 4px;
  margin-bottom: 0 !important;
  margin-top: 0.5rem !important;
}

.fc-event-main {
  color: unset !important;
}

/* 기본: 3번째 이벤트부터 숨김 */
.fc-daygrid-day-events > *:nth-child(n + 3) {
  display: none !important;
}

@media (max-width: 1470px) {
  .fc-daygrid-day-events > *:nth-child(n + 2) {
    display: none !important;
  }
  .fc-daygrid-day-events {
    margin-top: 0.25rem;
  }
  .fc-event {
    line-height: 12px;
  }
}

/* @media (max-width: 1440px) {
  .fc-daygrid-day-events > *:nth-child(n + 2) {
    display: none !important;
  }
  .fc-event {
    font-size: 8px;
  }
  .fc-daygrid-day-events {
    margin-top: 0.15rem !important;
    padding-top: 4px !important;
  }
} */

.fc-theme-standard,
.fc-theme-standard td,
.fc-theme-standard th,
.fc-theme-standard .fc-scrollgrid {
  @apply !border-[0.5px] !border-gs200;
}

.fc .fc-scrollgrid-section-sticky > * {
  position: relative !important;
}
